<div class="scrollable">
	<div class="scrollable-content" id="hr-list-info">
		<div class="meetingDate" ng-bind="meetingDate"></div>
		<div class="list-group">
		  <a ng-repeat="item in scrollItems | orderBy: 'topicID'" ng-href="#/detail/{{item.topicID}}" class="list-group-item" ng-if="item.speakerName != ''">
		  	<figure>
		  		<img ng-src="{{ speakerMap[item.speakerName] || 'http://gcghrcampus.b0.upaiyun.com/static/images/photo-none.jpg' }}" width="80" height="80" />
		  		<div class="hr-list-topic">
		  			<span class="hr-list-speakerName">{{ item.speakerName }}</span>
				    <span class="hr-list-topicName">{{ item.topicName }}</span>
				    <span class="hr-list-commentsCount"><i class="fa fa-comments">&nbsp;Comments : {{ item.commentsCount }}</i></span>
				    <span class="hr-list-likeCount" ng-click="rate($event,this)"><i ng-class="{true: 'fa fa-heart', false: 'fa fa-heart-o'}[item.isRating == '1']"></i> {{ item.rating }}
				    </span>
				</div>
		    </figure>
		  </a>
		  <article>
		  	<!-- <strong style="color:blue">Tips：哎呦~手滑退出了【宣讲会】页面？快登录“IBM校园行”，回复“<span ng-bind="tips"></span>”，我们等你回来~</strong><br/> -->
		  	<strong style="color:blue">Tips：“手滑”退出系统....，请速速就近找到登陆二维码，轻松扫描即重返宣讲会。</strong>
		  	<span ng-hide="BJUdisplay">
		  	欢迎参加2016 IBM校园宣讲会！<br/>
			童靴们，这里不仅有行业大佬的精彩演讲和独家分享，现场还有趣味游戏和重磅彩蛋等着你喔！<br/>
			<ul>
				<li>到早啦？没关系，一起体验最酷炫的【增强现实】游戏吧！拿起你的手机，扫一扫身边的IBM海报，我们带你“无缝”穿梭虚拟与现实！参与就有奖品喔~</li>
				<li>有想法不吐不快？传说中的牛人大咖云集于此，你还等什么？在【评论】区给我们留言，问题被选中就有豪礼赠送喔~</li>
				<li>意犹未尽？还想跟IBMer零距离沟通？快来关注“IBM校园行”微信，进入“IBM蓝色导师”应用，这里有专属于你的职场导师！更大的惊喜现场揭晓~</li>
			</ul>
			</span>	  	
		  </article>
		</div>
	</div>
</div>
<section ng-hide="hideMsgOverlay" id="hr-msg-overlay">
	<p ng-bind-html="overlayMsg"></p>
</section>