<div ui-content-for="title">
  <span>摇一摇</span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		<!-- overlay -->
		<div class="overlay">
			<div class="overlay-container">
				<div class="box">
					<div class="headbar">
						<span class="circle"></span>
						<span class="icon-close" ng-click="closeOverlay()"></span>
					</div>
					<div class="content-box">
						<div class="content">
							<p class="face" id="face"></p>
							<p class="note" id="note"></p>
							<p class="button-container"><a class="btn" href="javascript:void(0);" id="continue">继 续 摇</a></p>
						</div>
					</div>
				</div>
			</div>				
		</div>

		<!-- page content -->
		<div class="shake-content">
			<img class="shake-placeholder" src="http://gcghrcampus.b0.upaiyun.com/static/images/shake-placeholder.png">
			<div class="shake-outer"><img id="shakeAnimation" class="shake" src="http://gcghrcampus.b0.upaiyun.com/static/images/shake.png"></div>
			<p class="slogan" id="slogan">轻松摇一摇 好运好礼速速到</p>
		</div>
		<audio id="sound">
	        <source src="http://gcghrcampus.b0.upaiyun.com/static/images/sound.ogg" type="audio/ogg">
	        <source src="http://gcghrcampus.b0.upaiyun.com/static/images/sound.mp3" type="audio/mpeg">
	        您的设备不支持音频播放. 
	    </audio>
		
	</div>
</div>