<nav class="navbar navbar-default">
  <div class="container">
    <p class="navbar-text navbar-left">HR Tool</p>
    <p class="navbar-text navbar-right">欢迎 XXX</p>
  </div>
</nav>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-2" ng-repeat="x in feedbacks">
        <div class="fliper" ng-mouseenter="showDetail(x.id)">
          <header>
            <p>{{x.title}}</p>
          </header>
        </div>
        <div class="flip-down" ng-show="isShow==x.id" ng-mouseleave="hideDetail(x.id)">
          <br/>
          <h4>{{x.title}}</h4>
          <br/>
          <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
            <a href="#" class="btn btn-info" role="button" ng-click="editEvent($index,x.id)">编辑</a>
            <a href="#/feedback/user/{{x.id}}" class="btn btn-info" role="button" ng-click="infoEvent($index,x.id)">用户</a>
            <a href="#" class="btn btn-danger" role="button" ng-click="removeEvent($index,x.id)">删除</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="add-event">
          <a class="btn btn-default btn-add" href="#/feedback/new" role="button">+</a>
        </div>
      </div>
    </div>
  </div>
</section>
