
    <nav class="navbar navbar-default" ng-controller="specificEdit">
      <div class="container">
        <p class="navbar-text navbar-left">HR Tool</p>
        <ul class="nav navbar-nav">
          <li><a href="#/events/list">活动管理</a></li>
          <li class="active"><a href="#{{urlForA}}">编辑活动 <span class="sr-only">(current)</span></a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <button type="submit" class="btn btn-default" ng-click="signOut()">退出</button>
        </form>
        <p class="navbar-text navbar-right">管理员您好</p>

      </div>
    </nav>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
          <div class="sim">
            <img src="image/sim.png">
          </div>
          </div>
          <div class="col-md-8">
            <div>

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist" id='stepTab'>
                <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">基本信息</a></li>
                <li role="presentation"><a href="#topics" aria-controls="topics" role="tab" >演讲设置</a></li>
                <li role="presentation"><a href="#result" aria-controls="result" role="tab" >结果</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="basic" ng-controller="newStepOne">
                  <!-- <div><p class="text-right-align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></p></div> -->
                  <div class="form-container">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="inputSchool" >学校</label>
                          <input type="text" class="form-control" id="inputSchool" placeholder="学校"  ng-model='basic.college' required>
                      </div>
                      <div class="form-group">
                        <label for="inputType">类型</label>
                          <input type="text" class="form-control" id="inputType" placeholder="类型" ng-model='basic.type' required>
                      </div>
                      <div class="form-group">
                        <label for="inputDate">时间</label>
                        <!-- <div class="col-sm-10">
                          <input type="datetime" class="form-control" id="inputDate" placeholder="时间" ng-model='basic.date'>
                        </div> -->
                        <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">
                          <input class="form-control" size="16" id="dtp_input1" ng-model='basic.date' type="text" value="" readonly required>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputStart" >开始</label>
                        <!-- <div class="col-sm-10">
                          <input type="datetime" class="form-control" id="inputStart" placeholder="开始" ng-model='basic.starttime'>
                        </div> -->
                        <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input2" data-link-format="hh:ii">
                          <input class="form-control" size="16" type="text" id="dtp_input2" value=""  ng-model='basic.starttime' readonly required>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEnd" >结束</label>
                        <!-- <div class="col-sm-10">
                          <input type="datetime" class="form-control" id="inputEnd" placeholder="结束" ng-model='basic.endtime'>
                        </div> -->
                        <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                          <input class="form-control" size="16" type="text" id="dtp_input3" value=""  ng-model='basic.endtime' readonly required>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputLocation">地点</label>
                          <input type="text" class="form-control" id="inputLocation" placeholder="地点" ng-model='basic.address' required>
                      </div>
                      <div class="form-group">
                        <label for="inputDes">描述</label>
                          <textarea  class="form-control" id="inputDes" placeholder="描述" ng-model='basic.describe' required></textarea>
                      </div>
                      <div class="form-group">
                        <label for="selectTemplate">模板</label>
                        <div class="col-sm-12">
                          <label class="radio-inline">
                            <input type="radio" name="selectTemplate" id="selectTemplate1" ng-model='basic.template' value="1" checked> <img src="image/sim.png" width="64" height="104"/>
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="selectTemplate" id="selectTemplate2" ng-model='basic.template' value="2"> <img src="image/sim.png" width="64" height="104"/>
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="selectTemplate" id="selectTemplate3" ng-model='basic.template' value="3"> <img src="image/sim.png" width="64" height="104"/>
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model='basic.shakeFlag' checked > 摇一摇
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-10 col-sm-2">
                          <button type="submit" class="btn btn-default" ng-click='getAll()'>下一步</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="topics" ng-controller="newStepTwo">
                <br/>
                  <div class="table-responsive col-sm-12">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>主题</th>
                          <th>描述</th>
                          <th>演讲嘉宾</th>
                          <th>时间</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat='x in topics'>
                          <th scope="row">{{x.topicName}}</th>
                          <td>{{x.topicDesc}}</td>
                          <td>{{x.speakerName}}</td>
                          <td>{{x.startTime}} ~ {{x.endTime}}</td>
                          <td><span class="glyphicon glyphicon-edit" ng-click="editTopic(x)" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-trash" ng-click="dropTopic(x)" aria-hidden="true"></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="form-container">
                    <form class="form-horizontal">
                      <div class="form-group" ng-class="{true: 'hide', false: 'display'}[isHide]">
                        <label for="topicTitle" >演讲主题</label>
                          <input type="text" class="form-control" id="topicTitle" placeholder="演讲主题" ng-model='topic.topicName' required>
                      </div>
                      <div class="form-group" ng-class="{true: 'hide', false: 'display'}[isHide]">
                        <label for="topicDes" >演讲描述</label>
                          <textarea  class="form-control" id="topicDes" placeholder="演讲描述" ng-model='topic.topicDesc' required></textarea>
                      </div>
                      <div class="form-group" ng-class="{true: 'hide', false: 'display'}[isHide]">
                        <label for="speakerName" >主讲姓名</label>
                          <input type="text" class="form-control" id="speakerName" placeholder="主讲姓名" ng-model='topic.speakerName' required>
                      </div>
                      <div class="form-group" ng-class="{true: 'hide', false: 'display'}[isHide]">
                        <label for="speakerImg" >主讲照片</label>
                          <button class="form-control file-upload" ngf-select="uploadImages($file, $invalidFile)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">主讲照片</button>
                          
                          <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                              <span class="progress" ng-show="f.progress >= 0">
                                  <div style="width:{{f.progress}}%"  
                                       ng-bind="f.progress + '%'"></div>
                              </span>
                          </div>     
                          {{errorMsg}}
                      </div>
                      <div class="form-group" ng-class="{true: 'hide', false: 'display'}[isHide]">
                        <label for="speakerDes" >主讲信息</label>
                          <textarea  class="form-control" id="speakerDes" placeholder="主讲信息" ng-model='topic.speakerDesc' required></textarea>
                        </div>
                      <div class="form-group" ng-class="{true: 'hide', false: 'display'}[isHide]">
                        <label for="addAttachment" >添加附件</label>
                          <!-- <input type="file" id="addAttachment" placeholder="添加附件"> -->
                          <button  class="form-control file-upload" ngf-select="uploadFiles($files, $invalidFiles)" ngf-multiple="false" ngf-max-size="30MB">添加附件</button>
                          
                          <ul>
                            <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
                              <span class="progress" ng-show="f.progress >= 0">
                                <div style="width:{{f.progress}}%"  
                                    ng-bind="f.progress + '%'"></div>
                              </span>
                            </li>
                            <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                            </li> 
                          </ul>
                          {{errorMsg}}
                      </div>
                      <div class="form-group" ng-class="{true: 'hide', false: 'display'}[isHide]">
                        <label for="startTime" >开始时间</label>
                        <div class="input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input4" data-link-format="hh:ii">
                          <input class="form-control" size="16" type="text" id="dtp_input4" value=""  ng-model='topic.startTime' readonly required>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                        </div>
                      </div>
                      <div class="form-group" ng-class="{true: 'hide', false: 'display'}[isHide]">
                        <label for="endTime">结束时间</label>
                        <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input5" data-link-format="hh:ii">
                          <input class="form-control" size="16" type="text" id="dtp_input5" value=""  ng-model='topic.endTime' readonly required>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                        </div>
                      </div>
                      <br/><br/>

                      <div class="form-group">
                        <div class="col-sm-6">
                          <button type="button" class="btn btn-default" ng-click="addItem()" ng-class="{true: 'display', false: 'hide'}[isHide]">+ 添加新主题</button>
                        </div>
                        <div class="col-sm-offset-4 col-sm-2">
                          <button type="submit" class="btn btn-default" ng-click="save()" ng-class="{true: 'hide', false: 'display'}[isHide]">保存</button>
                        </div>
                      </div>
                      <br/><br/>
                      
                    </form>
                    <form class="form-horizontal">
                      <div class="form-group">
                        <div class="col-sm-6">
                          <button type="button" class="btn btn-default" ng-click="previousStep()">上一步</button>
                        </div>
                        <div class="col-sm-offset-4 col-sm-2">
                          <button type="button" class="btn btn-default" ng-click="proceed()">提交</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="result" ng-controller="finalStep">
                <div class="form-container text-center">
                  <div class="col-sm-12" id='qrcode'></div>
                  
                  <div class="col-sm-12">
                    <!-- <br/><br/>
                    <button type="button" class="btn btn-default" ng-click="downloadQR()">下载二维码</button> -->
                    <br/><br/>
                    <p>URL: <a href={{eventUrl}} target="_blank">{{eventUrl}}</a></p>
                    
                    
                  </div>
                </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>